<!-- Footer -->
<section id="contact">
        <div class="row">
            <div class="col-md-12">
                <br/>
                <p id="disclaimer" class="col-md-2"><strong>Aclaración:</strong>El contenido de DocsOnline NO debe ser considerado como consejo o consultoría legal y su uso no generá derechos u obligaciones entre DocsOnline y los Usuarios ni entre los Usuarios entre sí. El uso de DocsOnline no reemplaza ni intenta reemplazar el uso de abogados calificados.</p>
            <div class="col-md-5 col-md-offset-3">
                <p><a href="/viewdoc/d95c1de0-6">Términos y Condiciones</a></p>
                <p><a href="/viewdoc/5be5538d-8">Política de Privacidad</a></p>
                
            </div>
            </div>
        </div>
</section>

