{% extends "header.html" %}
<!DOCTYPE html>
    <!-- Intro Section -->
{% block content %}
<html>
    <body>
        <section id="intro" class="intro-section">
            <div class="container">
                <h4 id="caption">Docs Online te permite crear y compartir plantillas reutilizables de documentos como contratos, cartas y formularios.</h4>
                <section id="docsonline">
                <h3 id="caption">...[_Documentos reutilizables_]...</h3>
                {% if user.is_authenticated %}
                <div class="col-md-7">
                    <a href="{%url 'publicmodels' %}" <button type="button" id="irapublicmodels" class="btn btn-success">Ver Docs Públicos</input></a>
                    <a href="{%url 'plantillas' %}" <button type="button" class="btn btn-success">Crear Doc</input></a><br/>
                </div>
                {% else %}
                <a href="{% url 'registration_register' %}" <button type="button" class="btn btn-success">Crear cuenta gratis</input></a>
                {% endif %}
                </section><br/>
            </div>
            {% for b in user_data %} {% csrf_token %}
        <table>
            <tr>
                <td>{{ b.nom_locador }}</td>
                <td>{{ b.user }}</td>
            </tr>
        </table>
        {% endfor %}
        </section>
        <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Contact Section</h1>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
{% endblock %}
