{% extends "header.html" %} {% load bootstrap3 %} {% block title %}Docs Online | Plantillas{% endblock %}
{% block content %}
<br>
<br>
<br> 
<br>
<br>
<head>
    <script language="javascript" src="/static/js/docsonline.js"></script>
</head>
<body>
<form method="POST" action=''>{% csrf_token show_label=False %}
<div class="panel panel-default">
    <div class="panel-body" id="body-container">
        <div id="left_side_fields">
            <button type="button" id="delete" class="btn btn-info" name="delete" value="" data-toggle="modal" data-target="#deleteModal" title="eliminar"/></button>
            <input type="submit" id="reload" class="btn btn-default" name="reload" value="" title="recargar"/>
            <button type="button" id="guardar" class="btn btn-info" name="guardar" value="" title="button" data-toggle="modal" data-target="#guardarModal"></button>
            <br/>
            <br/>
            <br/>
            <label>Título</label> 
            {% bootstrap_field form.title show_label=False %}
            <label>Descripción</label> 
            {% bootstrap_field form.description show_label=False %}
            <label>Disponibilidad</label> 
            {% bootstrap_field form.public show_label=False %}
            <label>Tags</label> 
            {% bootstrap_field form.tags show_label=False %}
        </div>
        <div id="rich_text">
                {% bootstrap_field form.summernote show_label=False %}
        </div>
        <div id="side_fields">
            <input type="button" id="gendoc" class="btn btn-default" title="actualizar campos" onclick="change();"/></input>
            <br/>
            <span id="placeholder">&nbsp;</span>
        </div>
    </div>
</div>
</body>
<a href="#myModal" id="modalbtn" role="button" class="btn btn-large btn-primary" data-toggle="modal"></a>
<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <input type="submit" id="genpdf" class="btn btn-default" name="genpdf" value="PDF" title="pdf"/></input>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="guardarModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 400px;">
      <div class="modal-body">
        <p>¿Estás seguro que quieres salvar esta plantilla? Las variables se
        actualizarán con los nuevos valores.</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default" name="guardar" value="" title="guardar"/>Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 400px;">
      <div class="modal-body">
        <p>¿Estás seguro que quieres eliminar esta plantilla?.</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default" name="delete" value="" title="eliminar"/>Eliminar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

</form>
<script language="javascript" src="/static/js/docsonline.js"></script>
{% endblock %}
