{% extends "header.html" %} {% load bootstrap3 %} {% block title %}Docs Online | Plantillas{% endblock %}
{% block content %}
<br>
<br>
<br> 
<br>
<br>
<head>
    <script language="javascript" src="/static/js/docsonline.js"></script>
</head>
<body>
<form method="POST" action=''>{% csrf_token show_label=False %}
<div class="panel panel-default">
    <div class="panel-body" id="body-container">
        <div id="left_side_fields">
            <input type="submit" id="delete" class="btn btn-default" name="delete" value="" title="eliminar"/>
            <input type="submit" id="reload" class="btn btn-default"
            name="reload" value="" title="recargar"/>
            <input type="submit" id="guardar" class="btn btn-default" name="guardar" value="" title="guardar"/>
            <br/>
            <br/>
            <br/>
            <label>Título</label> 
            {% bootstrap_field form.title show_label=False %}
            <label>Descripción</label> 
            {% bootstrap_field form.description show_label=False %}
            <label>Disponibilidad</label> 
            {% bootstrap_field form.public show_label=False %}
            <label>Tags</label> 
            {% bootstrap_field form.tags show_label=False %}
        </div>
        <div id="rich_text">
                {% bootstrap_field form.summernote show_label=False %}
        </div>
        <div id="side_fields">
            <input type="button" id="gendoc" class="btn btn-default" title="actualizar campos" onclick="change();"/></input>
            <br/>
            <span id="placeholder">&nbsp;</span>
        </div>
    </div>
</div>
</body>
<a href="#myModal" id="modalbtn" role="button" class="btn btn-large btn-primary" data-toggle="modal"></a>
<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <input type="submit" id="genpdf" class="btn btn-default" name="genpdf" value="PDF" title="pdf"/></input>
            </div>
        </div>
    </div>
</div>
</form>
<script language="javascript" src="/static/js/docsonline.js"></script>
{% endblock %}
