{% extends "header.html" %}
{% load static %}
{% load ratings %}
{% block title %}Docs Públicos{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	</head>
	<body>
<div class="col-md-12">
    <h2>Docs Públicos</h2>
    <div id="doclist" class="col-md-9">
        <input type="text" class="search form-control" placeholder="Buscar"/>
        <ul class="list">
        <br/>
        <hr/>
       {% for row in public_detail %}
            <div class="col-md-8">
             <li><p class="docitem"><a href="/viewdoc/{{ row.doc_id }}">{{ row.title }}</a></p>
                 <p>{{ row.description }}<p/>
                 <footer>
                     <small>Actualizado por 
                         <a href="{% url 'view_profile' id=row.user_id%}">{{ row.user }}</a> el {{ row.creation_date }}<br>
                     </small>
                 <footer>
                 {% for tag in row.tags.all %}
                     <a class="tag" href="tag/{{ tag }}">{{ tag }}</a>
                 {% endfor %}
                 <br/>
                 <hr/>
             </div>
             <div class="col-md-4">
                 {% ratings row %}
             </div>
             </li>
        {% endfor %}
         </ul>
         <ul class="pagination"></ul>
    </div>
    <div class="tags col-md-2">
        {% for tag in tag_names %}
        <a class="tag" href="{% url 'publicmodels' tag=tag %}">{{ tag }}</a>
        {% endfor %}
    </div >
</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var docList = new List('doclist', { 
        valueNames: ['docitem']
        page: 10,
        pagination: true
    });
});
</script>
</html>
{% endblock %}


