{% extends "header.html" %}
{% load static %}
{% load ratings %}
{% block title %}Docs Públicos{% endblock %}
{% block content %}
<div id="main-body">
    <div class="col-md-12">
        <div id="doclist" class="col-md-9">
            <div class="col-md-10 col-md-offset-2">
                <h2>Docs Públicos</h2>
                <input type="text" class="search form-control" placeholder="Buscar"/>
            </div>
            <br/>
            <div class="col-md-12 col-md-offset-6">
                <ul id="paginator" class="pagination"></ul>
            </div>
            <ul class="list">
            <br/>
           {% for row in public_detail %}
                <div class="col-md-10 col-md-offset-2">
                    <li class="doc-item">
                       <div class="col-md-8">
                           <p class="docdata"><a href="/viewdoc/{{ row.doc_id }}">{{ row.title }}</a></p>
                           <p>{{ row.description }}<p/>
                       </div>
                       <div class="col-md-offset-9">
                           {% ratings row %}
                       </div>
                       <div class="doc-item-footer">
                           <p><small>Actualizado por 
                               <a href="{% url 'view_profile' id=row.user_id%}">{{ row.user }}</a> el {{ row.creation_date }}</p>
                           {% for tag in row.tags.all %}
                               <a class="tag" href="tag/{{ tag }}">{{ tag }}</a>
                           {% endfor %}
                           </small>
                       </div>
                    </li>
                    <br/>
                </div>
            {% endfor %}
            </ul>
            <br/>
        </div>
        <br/>
        <div class="tags col-md-2">
            {% for tag in tag_names %}
            <a class="tag" href="{% url 'publicmodels' tag=tag %}">{{ tag }}</a>
            {% endfor %}
        </div >
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    var docList = new List('doclist', { 
        valueNames: ['docdata'],
        page: 10,
        pagination: true
    });
});
</script>
</html>
{% endblock %}


